.credits {
	font-family: AurekBesh;
}

.starwarsffg .skill-name {
	font-size : 14px;
}
.starwarsffg .skillsTablesGrid {
	height: calc(100% - 10rem) !important;
}

/**
.starwarsffg .skillsGrid .dice-pool img[src*="black-minus"],
.dietype.starwars.setback,
img[src*="black-minus"]
  {
    	border: 1px #333 solid !important;
}
**/

.system-starwarsffg #pause > img {
	content : none !important;
}

.system-starwarsffg .journal-entry-page .journal-page-content blockquote:not(h6 + p + ul + blockquote, h6 + p + blockquote, h6 + ul + blockquote, h6 + blockquote) {
	background : url("../images/datapad-large-mid-1.webp") !important;
	padding-left: 25px !important;
}

